/* DRAWER */

.drawer {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3000;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 0 35px;
	width: 400px;
	height: 100%;
	border-left: 1px solid #eaeaea;
	background: #ffffff;

	@include transform(translateX(100%));
	@include transition(transform 0.5s ease-in-out);


	&.show {
		@include transform(translateX(0%));
	}

	.closedrawer {
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;
		cursor: pointer;
	}

	@media (max-width: 420px) {
		width: 325px;
	}
}
